<div style="background-color: black; margin-top: 269px;" class=" w-100 text-white py-5 pb-4">

    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">

            <div class="d-flex flex-column ">
                <h3>Exclusive</h3>
                <h4 style="cursor: pointer;">Subscribe</h4>
                <h5>Get 10% off your first order</h5>

                <div class="d-flex w-100">
                    <input class="btn btn-dark me-1" placeholder="Enter your email" type="text">
                    <img style="cursor: pointer;" src="../../../../assets/rightArrow.svg" alt="">
                </div>

            </div>

            <div class=" flex-column d-none d-lg-flex">
                <h3>Support</h3>
                <h5>Lorem, ipsum dolor sit amet consectetur </h5>
                <h5>lorem34587hdf@gmail.com</h5>
                <h5>+42270-45768-1111</h5>
            </div>

            <div class=" d-flex flex-column">
                
                <h3>Account</h3>
                <a class="text-decoration-none mb-2 pb-2 text-white" routerLink="/profile">My Account</a>
                <a class="text-decoration-none mb-2 pb-2 text-white" routerLink="/login">Login / Register</a>
                <a class="text-decoration-none mb-2 pb-2 text-white" routerLink="/cart">Cart</a>
                <a class="text-decoration-none mb-2 pb-2 text-white" routerLink="/wishlist">Wishlist</a>
                <a class="text-decoration-none mb-2 pb-2 text-white" routerLink="/search">Shop</a>
            
            </div>

            <div class=" flex-column d-none d-lg-flex">
                <h3>Quick Link</h3>
                <h5>Privacy Policy</h5>
                <h5>Terms Of Use</h5>
                <h5>FAQ</h5>
                <h5>Contact</h5>
            </div>

            <div class="d-flex flex-column ">
                <h3>Download App</h3>
                <h6 style="color: #c9c0c0;">Save $3 with App New User Only</h6>
                <div class="d-flex">
                    <img class="me-2" src="../../../../assets/Qrcode.png" alt="">
                    <div class="d-flex flex-column justify-content-between">
                        <img style="cursor: pointer;" src="../../../../assets/googlePlayStore.png" alt="">
                        <img style="cursor: pointer;" src="../../../../assets/appStore.png" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <img style="cursor: pointer;" src="../../../../assets/iconFacebook.svg" alt="">
                    <img style="cursor: pointer;" src="../../../../assets/iconTwitter.svg" alt="">
                    <img style="cursor: pointer;" src="../../../../assets/iconInstagram.svg" alt="">
                    <img style="cursor: pointer;" src="../../../../assets/iconLinkedin.svg" alt="">
                </div>
            </div>

        </div>
    </div>

</div>
