<div style="margin-top: 180px;">
    <div class="container ">
        <div class="row px-5">

            <div class="col-12 col-md-6">
                <img src="../../../../assets/resetPass.png" class="w-100" height="500" alt="">
            </div>

            <div [hidden]="toResetPassword" class="col-12 col-md-6 ">
                <h1 class='mt-5 fw-bold'>Reset Your Password</h1>


                <h4 class='lightColor pb-3'>The verification email will be sent to the mailbox. Please check it. </h4>

                <div [hidden]="!errMsg" class="alert alert-danger text-center py-3">{{errMsg}}</div>
                <div [hidden]="!successMsg" class="alert alert-success text-center py-3">{{successMsg}}</div>

                <form [formGroup]="verifyCodeSchema">

                    <div class="inputContainer d-flex">
                        <input formControlName="email" id='email' type="text"
                            class='form-control w-100 border-top-0 border-start-0 border-end-0 inputBorder'
                            placeholder='Email' />
                        <span>
                            <i class="fa-solid fa-at"></i>
                        </span>
                    </div>
                    <div [hidden]="!verifyCodeSchema.controls.email.touched || verifyCodeSchema.controls.email.valid"
                        class="alert alert-danger text-center py-3">invalid email</div>

                    <div class="inputContainer my-4 d-flex">
                        <input formControlName="code" id='code' type="text"
                            class='form-control w-100 border-top-0 border-start-0 border-end-0 inputBorder'
                            placeholder='Verification code' />
                        <span>
                            <i class="fa-solid fa-shield-halved"></i>
                        </span>
                    </div>




                    <button *ngIf="!sendCodeLoading" (click)="handleOnSendCode()"
                        class=' btn loginButton rounded-pill'>Send code</button>

                    <button *ngIf="sendCodeLoading" disabled class=' btn loginButton rounded-pill'><i
                            class="fa-solid fa-spinner fa-spin"></i></button>

                    <br>


                    <button *ngIf="!verifyCodeLoading" (click)="handleVerifyCode()"
                        class=' btn btn-info my-3 mb-5 rounded-pill'>Verify</button>

                    <button *ngIf="verifyCodeLoading" disabled class=' btn btn-info my-3 mb-5 rounded-pill'><i
                            class="fa-solid fa-spinner fa-spin"></i></button>

                    <br>

                </form>




                <a routerLink='/login' style="cursor: pointer;" class="text-decoration-underline text-primary">back to
                    login</a>






            </div>

            <div [hidden]="!toResetPassword" class="col-12 col-md-6 ">
                <h1 class='mt-5 fw-bold'>Reset Your Password</h1>

                <div [hidden]="!errMsg" class="alert alert-danger text-center py-3">{{errMsg}}</div>

                <form [formGroup]="resetPasswordSchema">


                    <div class="inputContainer d-flex">
                        <input formControlName="password" id='password' type="password"
                            class='form-control w-100 border-top-0 border-start-0 border-end-0 inputBorder'
                            placeholder='Enter Password' />
                        <span>
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                    <div [hidden]="!resetPasswordSchema.controls.password.touched || resetPasswordSchema.controls.password.valid"
                        class="alert alert-danger text-center py-3">must contain capital letters and numbers
                    </div>

                    <div class="inputContainer my-4 d-flex">
                        <input formControlName="rePassword" id='rePassword' type="password"
                            class='form-control w-100 border-top-0 border-start-0 border-end-0 inputBorder'
                            placeholder='Re-enter Password' />
                        <span>
                            <i class="fa-solid fa-fingerprint"></i>
                        </span>
                    </div>
                    <div [hidden]="!resetPasswordSchema.controls.rePassword.touched || resetPasswordSchema.controls.rePassword.valid"
                        class="alert alert-danger text-center py-3">password not matched</div>

                    <button [disabled]="!resetPasswordSchema.valid" *ngIf="!resetPasswordLoading" (click)="handleResetPassword()"
                        class=' btn loginButton rounded-pill mb-4'>Reset</button>

                    <button *ngIf="resetPasswordLoading" disabled class=' btn loginButton rounded-pill mb-4'><i
                            class="fa-solid fa-spinner fa-spin"></i></button>


                </form>








                <br>

                <a style="cursor: pointer;" (click)="returnToVerifyEmail()" class="m-0">Back to verify email</a>


            </div>


        </div>


    </div>