<div style="margin-top: 250px;">

    <div class="container px-5">
        <div class="row d-flex flex-column align-items-center">

            <h1 class="text-center">404 Not Found</h1>

            <h3 class="text-center mt-5">Your visited page not found. You may go home page.</h3>

            <div class="d-flex justify-content-center mt-3">
                <button routerLink="/home" style="background-color: #DB4444;" class="btn text-white">Back to home page</button>
            </div>


        </div>
    </div>


</div>